
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#chatapp{
    display: flex;
    justify-content: space-between;
    height: 95vh;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}

body h2{
    text-align: center;

}

#messages{
    width: 50%;
}

#type{
    
    bottom: 0px;
    background-color: #2f4975;
    width: 100%;
    display: flex;
}

#type form{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 0.7%;
    justify-content: center;
}

#typetext{
    width: 50%;
}

#sendbtn {
    padding: 0.2%;
    margin-left: 0.5%;
    width: 5%;
}

.messagecls{
    background-color: rgb(86, 214, 171);
    padding: 0.5%;
    margin: 0.1%;
}